<aside class="sidebar">
    <h3 class="sidebar-header">宗教教育課表</h3>
    <ul class="menu">
        <li class="menu-item {% if department_name == '詩頌課' %}active{% endif %}">
            <a href="{% url 'department_schedules' department_name='詩頌課' %}?class_type=詩頌課">詩頌課</a>
        </li>
        <li class="menu-item {% if department_name == '詩頌課' %}active{% endif %}">
            <a href="{% url 'department_schedules' department_name='詩頌課' %}">幼幼班</a>
        </li>
        <li class="menu-item {% if department_name == '詩頌課' %}active{% endif %}">
            <a href="{% url 'department_schedules' department_name='詩頌課' %}">幼稚班</a>
        </li>
        <li class="menu-item {% if department_name == '詩頌課' %}active{% endif %}">
            <a href="{% url 'department_schedules' department_name='詩頌課' %}">幼年班</a>
        </li>
        <li class="menu-item {% if department_name == '詩頌課' %}active{% endif %}">
            <a href="{% url 'department_schedules' department_name='詩頌課' %}">幼年班(中日文)</a>
        </li>
        <li class="menu-item {% if department_name == '詩頌課' %}active{% endif %}">
            <a href="{% url 'department_schedules' department_name='詩頌課' %}">少年班</a>
        </li>
        <li class="menu-item {% if department_name == '詩頌課' %}active{% endif %}">
            <a href="{% url 'department_schedules' department_name='詩頌課' %}">青教組</a>
        </li>
        <li class="menu-item {% if department_name == '詩頌課' %}active{% endif %}">
            <a href="{% url 'department_schedules' department_name='詩頌課' %}">日文班</a>
        </li>
        <li class="menu-item {% if department_name == '詩頌課' %}active{% endif %}">
            <a href="{% url 'department_schedules' department_name='詩頌課' %}">口風琴班</a>
        </li>
        <li class="menu-item {% if department_name == '詩頌課' %}active{% endif %}">
            <a href="{% url 'department_schedules' department_name='詩頌課' %}">新子安</a>
        </li>
        <li class="menu-item {% if department_name == '詩頌課' %}active{% endif %}">
            <a href="{% url 'department_schedules' department_name='詩頌課' %}">宗教教育總表</a>
        </li>
    </ul>
</aside>