{% extends 'schedule/base.html' %}
{% block assign_role_button %}
    {% include 'includes/popup_modal.html' %}
{% endblock %}
{% block content %}
    <h2 align="center">青教組安排表</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="text-center" scope="col">日期</th>
                    <th class="text-center" scope="col">崇拜課</th>
                    <th class="text-center align-middle" scope="col" rowspan="2">講師</th>
                    <th class="text-center align-middle" scope="col" rowspan="2">助教</th>
                    <th class="text-center align-middle" scope="col" rowspan="2">司琴</th>
                    <th class="text-center align-middle" scope="col">共習、詩頌</th>
                    <th class="text-center align-middle" scope="col" rowspan="2">講師</th>
                </tr>
                <tr>
                    <th class="text-center" scope="col">時間</th>
                    <th class="text-center" scope="col">14:00 - 14:55</th>
                    <th class="text-center" scope="col">15:00 - 15:30</th>
                </tr>
            </thead>
        </table>
    </div>
{% endblock %}