{% extends 'schedule/base.html' %}
{% block assign_role_button %}
    {% include 'includes/popup_modal.html' %}
{% endblock %}
{% block content %}
    <h2 align="center">幼幼班</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="text-center" scope="col">日期</th>
                    <th class="text-center" scope="col">崇拜課</th>
                    <th class="text-center align-middle" scope="col" rowspan="2">講師</th>
                    <th class="text-center" scope="col">共習課</th>
                    <th class="text-center align-middle" scope="col" rowspan="2">助教</th>
                </tr>
                <tr>
                    <th class="text-center" scope="col">時間</th>
                    <th class="text-center" scope="col">14:00 - 14:30</th>
                    <th class="text-center" scope="col">14:40 - 15:00</th>
                </tr>
            </thead>
            <tbody>
                {% for worship_schedule in worship_schedules %}
                    <tr>
                        <!-- Date -->
                        <td>{{ worship_schedule.date }}</td>

                        <!-- Worship Class -->
                        <td>{{ worship_schedule.topic }}</td>

                        <!-- Worship Teacher -->
                        <td>
                            {% for teacher in worship_teachers %}
                                {% if teacher.schedule__date == worship_schedule.date %}
                                    {{ teacher.person__name }}
                                {% endif %}
                            {% endfor %}
                        </td>

                        <!-- Activity Class -->
                        <td>
                            {% for activity_schedule in activity_schedules %}
                                {% if activity_schedule.date == worship_schedule.date %}
                                    {{ activity_schedule.topic }}
                                {% endif %}
                            {% endfor %}
                        </td>

                        <!-- Assistants -->
                        <td>
                            {% with assistants=activity_assistants|dictsort:"schedule__date" %}
                                {% for assistant in assistants %}
                                    {% if assistant.schedule__date == worship_schedule.date %}
                                        {{ assistant.person__name }}<br>
                                    {% endif %}
                                {% endfor %}
                            {% endwith %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}