{% extends 'schedule/base.html' %}
{% block assign_role_button %}
    {% include 'includes/assign_role_modal_popup.html' %}
{% endblock %}
{% block add_schedule_button %}
    {% comment %} {% include 'includes/'%} {% endcomment %}
{% endblock %}
{% block content %}
    <h2 align="center">幼幼班安排表</h2>
    <div class="table-responsive table-sm">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="text-center" scope="col">日期</th>
                    <th class="text-center" scope="col">崇拜課</th>
                    <th class="text-center align-middle" scope="col" rowspan="2">講師</th>
                    <th class="text-center" scope="col">共習課</th>
                    <th class="text-center align-middle" scope="col" rowspan="2">助教1</th>
                    <th class="text-center align-middle" scope="col" rowspan="2">助教2</th>
                </tr>
                <tr>
                    <th class="text-center" scope="col">時間</th>
                    <th class="text-center" scope="col">14:00 - 14:30</th>
                    <th class="text-center" scope="col">14:40 - 15:00</th>
                </tr>
            </thead>
            <tbody>
                {% for schedule in schedules %}
                    <tr>
                        <td class="text-center">{{ schedule.date }}</td>
                        <td class="text-center">{{ schedule.worship_topic }}</td>
                        <td class="text-center">{{ schedule.講師 }}</td>
                        <td class="text-center">{{ schedule.activity_topic }}</td>
                        <td class="text-center">{{ schedule.助教1 }}</td>
                        <td class="text-center">{{ schedule.助教2 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}